site_name: "Oredev Developers Conference"
site_url: https://codess-aus.github.io/Oredev-Imposter-Syndrome/
repo_url: https://github.com/codess-aus/Oredev-Imposter-Syndrome
repo_name: codess-aus/Oredev-Imposter-Syndrome
theme:
  name: material
  custom_dir: overrides
  features:
    - navigation.tracking
    - navigation.sections
    - navigation.expand
    - navigation.top
    - search.suggest
    - search.highlight
    - content.code.copy
    - content.tabs.link
    - toc.integrate
    - toc.follow
    - navigation.tabs
    - navigation.path
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: deep purple
      accent: pink
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: deep purple
      accent: pink
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  font:
    text: Inter
    code: JetBrains Mono
  icon:
    logo: material/school
nav:
  - Home: index.md
  - Imposter Syndrome: imposter-syndrome.md
  - The Expert: the-expert.md
  - The Perfectionist: the-perfectionist.md
  - The Superperson: the-superperson.md
  - The Natural Genius: the-natural-genius.md
  - The Soloist: the-soloist.md
  - Key Takeaways: key-takeaways.md
  - Resources: resources.md
  - Contact Page: contact.md
plugins:
  - search
extra:
  social:
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/oredev
    - icon: fontawesome/brands/discord
      link: https://pythondiscord.com/
extra_css:
  - stylesheets/extra.css
